body {
  font-family: 'AvenirNextCyr-Light';
  font-weight: 300;
}

@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url("../fonts/AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"), url("../fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url("../fonts/AvenirNextCyr-Demi.eot");
  src: local("Avenir Next Cyr Demi"), local("AvenirNextCyr-Demi"), url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url("../fonts/AvenirNextCyr-Light.eot");
  src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"), url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"), url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"), url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color: #32D29F;
  border-radius: 2px;
  border: none;
  color: #fff;
  height: 36px;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  cursor: pointer;
}

.more-link {
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #25AEF6;
}

.more-link:hover {
  color: #AFB9DD;
}

.more-btn {
  display: block;
  border: 1px solid #2BBB97;
  padding: 12px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  color: #2BBB97;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more-btn:hover {
  color: #fff;
  background-color: #2BBB97;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(22, 57, 91, 0.8);
}

.modal-bg.hidden {
  display: none;
}

.header {
  border-bottom: 1px solid #C0D3FE;
  z-index: 60;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  position: relative;
}

.search__input {
  width: 389px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #D2E1F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: 'AvenirNextCyr-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0 116px 0 16px;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  color: #A7C0E2;
}

.search__input::-moz-placeholder {
  color: #A7C0E2;
}

.search__input:-ms-input-placeholder {
  color: #A7C0E2;
}

.search__input::-ms-input-placeholder {
  color: #A7C0E2;
}

.search__input::placeholder {
  color: #A7C0E2;
}

.search__btn {
  position: absolute;
  width: 98px;
  right: 9px;
  top: 7px;
}

.search__btn-mob {
  display: none;
  cursor: pointer;
  text-align: right;
}

.search__btn-mob span {
  color: #A7C0E2;
  font-size: 24px;
  margin-right: 40px;
}

.lang {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
  color: #16395B;
  position: relative;
}

.lang__now {
  position: relative;
  margin-right: 65px;
  cursor: pointer;
}

.lang__now span {
  position: absolute;
}

.lang__dropdown {
  position: absolute;
  display: none;
}

.lang__link {
  display: block;
}

.login-btn {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  font-size: 14px;
  margin-right: 38px;
}

.login-btn span {
  margin-right: 8px;
  font-size: 16px;
}

.menu-btn {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
  color: #16395B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn__icon {
  position: relative;
  margin-left: 10px;
  width: 18px;
  height: 12px;
}

.menu-btn__icon::before,
.menu-btn__icon::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #16395B;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-btn__icon::after {
  top: 10px;
}

.menu-btn__icon span {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #16395B;
  top: 5px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-btn__icon.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-btn__icon.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.menu-btn__icon.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
}

.header-user {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 80px;
  background-color: #E5EEFF;
  border: 1px solid #C0D3FE;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.header-user.hiden {
  top: -114px;
  visibility: hidden;
}

.header-user__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-user__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  height: 80px;
  position: relative;
}

.header-user__img img {
  border: 2px solid #C0D3FE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 9px;
  left: 0;
}

.header-user__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-user__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  margin-right: 28px;
  color: #16395B;
}

.header-user__phone span {
  font-size: 24px;
  margin-right: 7px;
}

.header-user__btn {
  padding: 0 18px;
}

.menu-user__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-user__link {
  display: block;
  padding: 27.5px 23px;
  margin: auto 0;
  color: #3B3B3B;
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}

.menu-user__link::after {
  content: '';
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-radius: 2px 2px 0px 0px;
  background-color: #2BBB97;
}

.menu-user__link:hover {
  color: #2BBB97;
}

.menu-user__link:hover::after {
  visibility: visible;
}

.breadcrumbs {
  margin: 28px 0 30px 0;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__list li::after {
  content: '';
  display: inline-block;
  background-image: url("../img/arrow_right_alt-black-18dp.svg");
  width: 20px;
  height: 20px;
  margin: 0 12px;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

.breadcrumbs__list li:last-child::after {
  content: '';
  display: none;
}

.breadcrumbs__item {
  font-size: 16px;
  color: #16395B;
  line-height: 28px;
}

.breadcrumbs__item:hover {
  text-decoration: underline;
}

.breadcrumbs__item-now {
  color: #A7C0E2;
}

.breadcrumbs__item-now:hover {
  text-decoration: none;
}

.main-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-info__left {
  max-width: 540px;
  height: 534px;
  background: -o-linear-gradient(314.62deg, #2BBB97 45.98%, #25AEF6 91.19%);
  background: linear-gradient(135.38deg, #2BBB97 45.98%, #25AEF6 91.19%);
  border-radius: 4px 0px 0px 4px;
  padding: 66px 90px 0 90px;
  color: #fff;
}

.main-info__header {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-info__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 1px 5px;
  margin-left: 22px;
}

.main-info__rating span {
  margin-right: 5px;
  font-style: 24px;
}

.main-info__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
}

.main-info__phone,
.main-info__address,
.main-info__website {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  font-size: 20px;
  margin-top: 23px;
  line-height: 25px;
}

.main-info__phone span,
.main-info__address span,
.main-info__website span {
  font-size: 24px;
  margin-right: 14px;
}

.main-info__address {
  margin-top: 42px;
}

.main-info__phone {
  position: relative;
}

.main-info__phone a {
  color: #fff;
}

.main-info__phone .material-icons {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.main-info__website a {
  color: #fff;
}

.main-info__call {
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  margin-top: 45px;
  padding: 11px 30px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.logo-clinic {
  min-width: 90px;
  max-height: 90px;
  border: 2px solid #FFFFFF;
}

.main-info__right {
  max-width: 690px;
  height: 600px;
}

.main-info__photos,
.main-info__gmap {
  height: 50%;
  overflow: hidden;
  position: relative;
}

.main-info__name {
  position: relative;
  top: 220px;
  left: 52px;
  color: #fff;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: 600;
  font-size: 24px;
}

.main-info__name .material-icons-outlined {
  font-size: 24px;
  margin-right: 14px;
}

.btn-gallery-preview,
.btn-map-preview {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.gallery-link,
.map-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(58, 89, 120, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-link:hover,
.map-link:hover {
  background-color: rgba(58, 89, 120, 0.65);
}

.phones-block {
  position: relative;
  display: inline-block;
}

.modal-phones {
  top: 10px;
  right: -60px;
  position: absolute;
  width: 240px;
  background-color: #FFFFFF;
  border: 1px solid #C0D3FE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.modal-phones.hidden {
  display: none;
}

.modal-phones__header {
  padding: 20px 30px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #C0D3FE;
  color: #000;
}

.modal-phones__header span {
  color: #A7C0E2;
  cursor: pointer;
}

.modal-phones__title,
.modal-phones__title + .material-icons {
  font-size: 14px;
}

.modal-phones__body {
  padding: 15px 0 35px 0;
}

.modal-phones__list {
  text-align: center;
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
}

.modal-phones__list li {
  margin: 10px 0;
}

.modal-phones__number {
  color: #16395B;
}

.modal-phones__number:hover {
  color: #16395B;
  text-decoration: underline;
}

.about {
  margin-top: 60px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__info {
  max-width: 960px;
}

.about__title {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 35px;
}

.about__text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 25px;
  padding-right: 30px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about__schedule {
  width: 330px;
  min-width: 230px;
}

.schedule__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 24px;
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
}

.schedule__item span:first-child {
  color: #AFB9DD;
}

.schedule__item span:last-child {
  color: #3B3B3B;
}

.schedule__item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 1px;
  background-color: #D2E1F5;
}

.specialties {
  margin-top: 120px;
}

.specialties__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.specialties__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialties__more-btn {
  margin-right: 80px;
}

.specialties__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.specialties__list li {
  margin: 18px 120px 18px 0;
}

.specialties__item {
  color: #3B3B3B;
  display: block;
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.specialties__item span {
  color: #A7C0E2;
}

.specialties__item:first-letter {
  color: #25AEF6;
  text-transform: uppercase;
}

.specialties__item:hover,
.specialties__item:hover:first-letter {
  color: #2BBB97;
  text-decoration: underline;
}

.specialties__item:hover span {
  color: #2BBB97;
}

.services {
  margin-top: 120px;
}

.services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.services__list.slick-slider {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.services__item {
  max-width: 330px;
  border: 1px solid #D2E1F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 30px;
  margin: 0 15px 10px 15px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
}

.services__item:hover {
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #2BBB97;
}

.services__slider {
  position: relative;
}

.services__controls {
  width: 60px;
  height: 60px;
  background-color: #2BBB97;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  position: absolute;
}

.services__controls:focus {
  outline: none;
}

.services__controls.slick-disabled {
  background-color: transparent;
  border: 1px solid #2BBB97;
}

.services__controls.slick-disabled span {
  color: #2BBB97;
}

.services__controls span {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.services__preview {
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services__next {
  right: -80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-s__title {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

.item-s__description,
.item-s__time,
.item-s__price {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}

.item-s__info {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-s__info .material-icons {
  font-size: 20px;
  color: #16395B;
  position: relative;
}

.item-s__info .material-icons::before {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #E5EEFF;
  z-index: -1;
  top: -6px;
  left: -6px;
}

.item-s__time,
.item-s__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #16395B;
}

.item-s__time span,
.item-s__price span {
  margin-right: 14px;
}

.item-s__price {
  margin-left: 36px;
}

.doctors {
  margin: 120px 0;
}

.doctors__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.doctors__slider {
  position: relative;
}

.doctors__list.slick-slider {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.doctors__preview__hide {
  z-index: -1;
  position: absolute;
  border: 1px solid #D2E1F5;
  padding: 0 30px;
  border-radius: 8px;
  background-color: #fff;
  top: calc(100% - 10px);
  left: -1px;
  right: -1px;
  max-width: calc(330px + 2px);
  visibility: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
}

.doctors__item {
  max-width: 330px;
  border: 1px solid #D2E1F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin: 0 15px;
  position: relative;
}

.doctors__item:focus {
  outline: none;
}

.doctors__item:hover {
  border: 1px solid transparent;
}

.doctors__item:hover > .doctors__preview__hide {
  visibility: visible;
  -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  border-color: #2BBB97;
}

.doctors__preview {
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.doctors__next {
  right: -80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-d__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 30px 30px 16px 30px;
}

.item-d__header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #D2E1F5;
}

.item-d__header-l {
  text-align: center;
}

.item-d__pic {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
  border: 2px solid #25AEF6;
}

.item-d__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.item-d__status {
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  font-size: 10px;
  color: #2BBB97;
  position: relative;
}

.item-d__status::before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #2BBB97;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  top: -17px;
  left: 9px;
}

.item-d__status.status-offline {
  color: #A7C0E2;
  font-family: 'AvenirNextCyr-Light';
  font-weight: 300;
}

.item-d__status.status-offline::before {
  background-color: #A7C0E2;
}

.item-d__header-r {
  margin-left: 16px;
}

.item-d__name,
.item-d__post,
.item-d__stars-title,
.item-d__response-title,
.item-d__exp-title,
.item-d__footer-subtitle {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
}

.item-d__name {
  font-size: 16px;
  color: #3B3B3B;
  line-height: 20px;
}

.item-d__post {
  color: #16395B;
  line-height: 15px;
  margin-top: 12px;
  font-size: 12px;
}

.item-d__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 30px;
}

.item-d__stars-title,
.item-d__response-title,
.item-d__exp-title {
  color: #AFB9DD;
  font-size: 12px;
}

.item-d__stars-value,
.item-d__response-value,
.item-d__exp-value {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  font-size: 12px;
}

.item-d__stars-value span,
.item-d__response-value span,
.item-d__exp-value span {
  color: #25AEF6;
  font-size: 16px;
  margin-right: 8px;
}

.item-d__footer {
  padding: 25px 30px;
  position: relative;
}

.item-d__footer::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #D2E1F5;
}

.item-d__footer-subtitle {
  color: #AFB9DD;
  font-size: 12px;
}

.item-d__footer-text {
  font-size: 12px;
}

.item-d__btn {
  display: inline-block;
  margin: 25px 0 30px 0;
  padding: 4px 23px;
  font-size: 14px;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  color: #fff;
  background-color: #32D29F;
  border-radius: 2px;
  border: 2px solid #32D29F;
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.item-d__btn:hover {
  background-color: transparent;
  color: #32D29F;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 40px 0;
}

.reviews__item {
  max-width: 450px;
  margin-left: 30px;
}

.reviews__item:first-child {
  margin: 0;
}

.item-rev__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-rev__pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #25AEF6;
}

.item-rev__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.item-rev__author {
  margin-left: 20px;
}

.item-rev__name,
.item-rev__date {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
}

.item-rev__name {
  font-size: 20px;
  line-height: 25px;
  color: #3B3B3B;
}

.item-rev__status {
  margin-top: 5px;
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.item-rev__status.rev__status-pos {
  color: #2BBB97;
}

.item-rev__status.rev__status-neg {
  color: #E85164;
}

.item-rev__body {
  margin-top: 18px;
  padding: 30px;
  background-color: #F2F2F2;
  border-radius: 4px;
  position: relative;
}

.item-rev__body::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid #F2F2F2;
  position: absolute;
  top: -18px;
  left: 38px;
}

.item-rev__date {
  font-size: 14px;
  line-height: 17px;
  color: #AFB9DD;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.item-rev__time {
  margin-left: 14px;
}

.item-rev__time::before {
  content: '-';
  display: inline-block;
  margin-right: 10px;
}

.item-rev__text {
  font-size: 24px;
  line-height: 29px;
}

.news {
  margin: 95px 0 160px 0;
}

.news__block {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item {
  max-width: 330px;
  height: 394px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.news__item:first-child {
  margin: 0;
}

.item-new__link-block {
  display: block;
}

.item-new__pic {
  max-width: 330px;
  height: 233.68px;
  border-radius: 4px;
  overflow: hidden;
}

.item-new__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-new__link-title {
  margin-top: 20px;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  color: #16395B;
  font-size: 24px;
  line-height: 29px;
}

.item-new__link-title:hover {
  text-decoration: underline;
}

.item-new__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-new__date,
.item-new__stat {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  color: #AFB9DD;
}

.item-new__time {
  margin-left: 10px;
}

.item-new__time::before {
  content: '-';
  display: inline-block;
  margin-right: 6px;
}

.item-new__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-new__views,
.item-new__com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-new__views .material-icons-outlined,
.item-new__com .material-icons-outlined {
  font-size: 16px;
  color: #AFB9DD;
  margin-right: 6px;
}

.item-new__com {
  margin-left: 12px;
}

.footer-app {
  width: 100%;
  height: 100px;
  background: -o-linear-gradient(274.83deg, #2BBB97 39.05%, #25AEF6 70.06%);
  background: linear-gradient(175.17deg, #2BBB97 39.05%, #25AEF6 70.06%);
}

.footer-app__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  height: 100px;
}

.footer-app__left {
  position: relative;
}

.footer-app__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-app__title {
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  padding: auto 0;
  margin: auto 0;
}

.footer-app__links {
  text-align: right;
  margin: auto 0;
}

.footer {
  background-color: #E5EEFF;
}

.footer__body {
  display: grid;
  grid-template-columns: 25% auto 25%;
  padding: 60px 0;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__title {
  font-family: 'AvenirNextCyr-Demi';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #AFB9DD;
  padding: 30px 0;
}

.about-f__text {
  max-width: 330px;
  font-size: 14px;
  line-height: 17px;
  color: #3B3B3B;
  margin-bottom: 15px;
}

.about-f__email,
.about-f__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.about-f__email a,
.about-f__phone a {
  font-size: 16px;
  line-height: 20px;
  font-family: 'AvenirNextCyr-Regular';
  font-weight: normal;
  color: #16395B;
}

.about-f__email span,
.about-f__phone span {
  font-size: 20px;
  color: #16395B;
  margin-right: 8px;
}

.nav-f__list {
  list-style-type: circle;
}

.nav-f__list li {
  margin: 9px 0;
}

.nav-f__link {
  font-family: 'AvenirNextCyr-Regular';
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #16395B;
}

.nav-f__link::before {
  content: '\2022';
  color: #A7C0E2;
  display: inline-block;
  margin-right: 10px;
}

.nav-f__link:hover::before {
  color: #2BBB97;
}

.nav-f__link:hover {
  color: #2BBB97;
  text-decoration: underline;
}

.info-f__list {
  list-style-type: circle;
}

.info-f__list li {
  margin: 9px 0;
}

.info-f__link {
  font-family: 'AvenirNextCyr-Regular';
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #16395B;
}

.info-f__link::before {
  content: '\2022';
  color: #A7C0E2;
  display: inline-block;
  margin-right: 10px;
}

.info-f__link:hover {
  color: #2BBB97;
  text-decoration: underline;
}

.info-f__link:hover::before {
  color: #2BBB97;
}

.sm-f__text {
  max-width: 330px;
  font-size: 14px;
  line-height: 17px;
  color: #3B3B3B;
  margin-bottom: 24px;
}

.sm-f__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sm-f__links li {
  margin-right: 7px;
}

.sm-f__link {
  display: block;
}

.end-f__copy {
  margin-left: 12px;
}

.end-f__copy span {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
}

.end-f__left,
.end-f__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-f__mc {
  margin-right: 27px;
}

.modal-map__window {
  max-width: 1000px;
  height: 800px;
  margin: 0 auto;
  margin-top: calc(100vh / 10);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #C0D3FE;
}

.modal-map__close {
  cursor: pointer;
  position: absolute;
  top: -32px;
  right: -32px;
}

.modal-map__close span {
  margin: 0;
  font-size: 32px;
  color: #fff;
}

.modal-map__gmap {
  width: 670px;
  height: 100%;
}

.modal-map__data {
  background-color: #fff;
  border-left: 1px solid #C0D3FE;
}

.map-data__header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-data__pic {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 2px solid #25AEF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.map-data__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.map-data__titles {
  margin-left: 20px;
}

.map-data__title {
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  color: #3B3B3B;
  line-height: 20px;
}

.map-data__subtitle {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #16395B;
}

.map-data__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 30px;
  border-top: 1px solid #D2E1F5;
  border-bottom: 1px solid #D2E1F5;
}

.map-data__stars-title,
.map-data__doctors-title,
.map-data__serv-title,
.map-data__f-tit {
  font-family: 'AvenirNextCyr-Medium';
  font-weight: 450;
  color: #AFB9DD;
  font-size: 12px;
}

.map-data__stars-value,
.map-data__doctors-value,
.map-data__serv-value {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  font-size: 12px;
}

.map-data__stars-value span,
.map-data__doctors-value span,
.map-data__serv-value span {
  color: #25AEF6;
  font-size: 16px;
  margin-right: 10px;
}

.map-data__footer {
  padding: 20px 30px;
}

.map-data__f-text {
  font-size: 12px;
  margin-bottom: 35px;
}

.schedule__list {
  margin-top: 5px;
}

.schedule__day {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule__day span {
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  color: #3B3B3B;
}

.slider {
  display: none;
}

.slider__wrapper {
  height: 100vh;
  padding: 20px 0;
  margin: 0 auto;
}

.slider__img-block {
  max-width: 705px;
  max-height: 447px;
  overflow: hidden;
}

.slider__img-block img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__previews {
  margin-top: 25px;
}

.slider__preview-block {
  max-width: 257px;
  height: 163px;
  overflow: hidden;
  margin-right: 10px;
}

.slider__preview-block img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1370px) {
  .menu-user__link {
    font-size: 16px;
    padding: 27.5px 18px;
  }

  .header-user__phone span {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .reviews__block {
    display: grid;
    grid-template-columns: auto auto;
  }

  .reviews__item:last-child {
    margin: 30px 0 0 0;
  }

  .item-rev__pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75px;
            flex: 0 0 75px;
    height: 75px;
    border-radius: 37.5px;
  }

  .item-rev__text {
    font-size: 18px;
  }

  .news {
    margin-bottom: 190px;
  }

  .footer-app__img {
    bottom: 100px;
  }

  .footer-app__wrapper {
    grid-template-columns: auto 1fr auto;
  }
}

@media (max-width: 986px) {
  .header-user {
    height: auto;
  }

  .menu-user__list {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .menu-user__link {
    padding: 17.5px 18px;
  }

  .search__input {
    width: auto;
  }

  .specialties__list li {
    margin: 12px 80px 12px 0;
  }
}

@media (max-width: 884px) {
  .footer__body {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .menu-user__list {
    display: grid;
    grid-template-columns: auto auto;
  }

  .menu-user__link {
    padding: 17.5px 18px;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__text {
    padding: 0;
    margin-bottom: 10px;
  }

  .about__schedule {
    margin: 0 auto;
  }

  .news__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 30px;
  }

  .news__item {
    margin: 0;
  }
}